@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row" id="Panel_Search" style="display:none;">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-body">

                    <div class="form-group">
                        <form id="form_search">
                            @*<div class="col-sm-3">
                                    <div class="form-group">
                                        <label>用户名：</label>
                                        <input class="form-control input-sm" name="cUsers_Name" placeholder="请输入用户名" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>登录名：</label>
                                        <input class="form-control input-sm" name="cUsers_LoginName" placeholder="请输入登录名" />
                                    </div>
                                </div>*@
                        </form>
                    </div>
                    <div class="row">
                        <br />
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-info btn-sm pull-right" id="btn_search"><i class="fa fa-search"></i>&nbsp;检索</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-group btn-group-sm">
                        <button title="" class="btn btn-white btn-sm" onclick="window.location=''" data-toggle="tooltip" data-placement="top"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
                        <button class="btn btn-white btn-sm" id="Btn_Power_Search" onclick="ShowSearch(this)"><i class="fa fa-chevron-down"></i>&nbsp;检索</button>
                        <button type="button" id="Btn_Power_Add" class="btn btn-white btn-sm" onclick="Func.OpenInfoPage('add')"><i class="fa fa-plus"></i>&nbsp;添加</button>
                        <button type="button" id="Btn_Power_Edit" disabled="disabled" class="btn btn-white btn-sm" onclick="Func.OpenInfoPage('edit')"><i class="fa fa-pencil"></i>&nbsp;修改</button>
                        <button class="btn btn-white btn-sm" disabled="disabled" id="Btn_Power_Del" onclick="$List.Del({url:'@Url.Action("Del")'});"><i class="fa fa-trash"></i>&nbsp;删除</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class=" pull-right">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-white btn-sm" onclick="$List.ExportExcel('@Url.Action("ExportExcel")')" href="javascript:void(0)" id="Btn_Power_GetExcel"><i class="fa fa-file-excel-o"></i>&nbsp;导出 Excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">

                <div class="jqGrid_wrapper">
                    <table id="jqtable"></table>
                    <div id="pager"></div>
                </div>

            </div>
        </div>
    </div>
</div>
@section css{
}
@section js{
    <script src="~/Scripts/SysFrameWork/FrameWork.js"></script>
    <script src="~/Scripts/SysFrameWork/FrameWork_List.js"></script>
    <script type="text/javascript">
        var area = "@(ViewContext.RouteData.DataTokens["area"])";
        var controller = "@(ViewContext.RouteData.Values["controller"])";
        var action = "@(ViewContext.RouteData.Values["action"])";
        var FormID = "Form_" + area + controller + action;
        var thisWindowName = "FrameWork_" + area + controller + action;
        $(function () {
            Func.TableInit();
        });

        var Func = {
            TableInit: function () {
                $.ajax({
                    type: "post",
                    url: "@Url.Action("GetDataSource")",
                    data: { rows: 1 },
                    success: function (r) {
                        $List.TableInit({
                            url: "@Url.Action("GetDataSource")",
                            colModel: r.columnModel
                        });
                    }
                });
            },
            OpenInfoPage: function (tag) {
                $.ModalOpen({
                    id: FormID,
                    parentIframeName: "FrameWork_" + area + controller + action,
                    url: "@Url.Action("Info")" + (tag == "add" ? "" : "/?ID=" + $KeyValue[0].id),
                    title: (tag == "add" ? "新增" : "修改"),
                    width: "500px",
                    height: "500px",
                    btn: false,
                });
            }
        };

    </script>
}
