@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row" id="Panel_Search" style="display:none;">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-body">

                    <div class="form-group">
                        <form id="form_search">
                            @*<div class="col-sm-3">
                                    <div class="form-group">
                                        <label>角色名：</label>
                                        <input class="form-control input-sm" name="cRoles_Name" placeholder="请输入角色名" />
                                    </div>
                                </div>*@
                        </form>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-info btn-sm pull-right" id="btn_search"><i class="fa fa-search"></i>&nbsp;检索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-group btn-group-sm">
                        @Html.Raw(ViewBag.SysBtn)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class=" pull-right">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-white btn-sm" onclick="$List.ExportExcel('@Url.Action("ExportExcel")')" href="javascript:void(0)" id="Btn_Power_GetExcel"><i class="fa fa-file-excel-o"></i>&nbsp;导出 Excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">

                <div class="jqGrid_wrapper">
                    <table id="jqtable"></table>
                    <div id="pager"></div>
                </div>

            </div>
        </div>
    </div>
</div>
@section css{
}
@section js{
    <script src="~/Scripts/SysFrameWork/FrameWork_List.js"></script>
    <script type="text/javascript">
        var area = "@(ViewContext.RouteData.DataTokens["area"])";
        var controller = "@(ViewContext.RouteData.Values["controller"])";
        var action = "@(ViewContext.RouteData.Values["action"])";
        var FormID = "Form_" + area + controller + action;
        var thisWindowName = "FrameWork_" + area + controller + action;
        $(function () {
            Func.TableInit();
        });

        var Func = {
            TableInit: function () {
                $List.TableInit({
                    url: "@Url.Action("GetDataSource")",
                    colModel: JSON.parse('@Html.Raw(ViewBag.JqGridColModel)')
                });
            },
            OpenInfoPage: function (tag) {
                $.ModalOpen({
                    id: FormID,
                    parentIframeName: "FrameWork_" + area + controller + action,
                    url: "@Url.Action("Info")" + (tag == "add" ? "" : "/?ID=" + $KeyValue[0]._ukid),
                    width: "500px",
                    height: "500px",
                    btn: false,
                });
            }
        };

    </script>
}
