@{
    ViewBag.Title = "商城管理系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span class="text-center"><img alt="image" class="img-circle" src="/Content/HPlus/img/profile_small.jpg" /></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                            <span class="clear">
                                <br />
                                @*<span class="block m-t-xs"><strong class="font-bold">Beaut-zihan</strong></span>*@
                                <span class="text-muted text-xs block">@ViewData["userName"]<b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            @*<li>
                                    <a class="J_menuItem" href="form_avatar.html">修改头像</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="profile.html">个人资料</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="contacts.html">联系我们</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>*@
                            <li>
                                <a href="@Url.Action("Index","Login")">安全退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        @ViewData["userName"]
                    </div>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("HomePage")" data-id="@Url.Action("HomePage")" data-index="0">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">主页</span>
                    </a>
                </li>
                @Html.Raw(ViewData["Menu"])
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <!--<form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>-->
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="hidden-xs">
                        <a href="https://www.baidu.com" class="J_menuItem" data-index="qp">百度一下</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="javascript:void(0);" onclick="App.handleFullScreen()"><i class="fa fa-arrows-alt"></i>全屏</a>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="right-sidebar-toggle" aria-expanded="false">
                            <i class="fa fa-tasks"></i> 主题
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="@Url.Action("HomePage")">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">
                    关闭操作<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive">
                        <a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll">
                        <a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther">
                        <a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="@Url.Action("Index","Login")" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="@Url.Action("HomePage")" frameborder="0" data-id="@Url.Action("HomePage")" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">
                &copy; 2014-2015 <a href="http://www.zi-han.net/" target="_blank">@ViewBag.Title</a>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->
    <div id="right-sidebar">
        <div class="sidebar-container">
            <ul class="nav nav-tabs navs-3">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1">
                        <i class="fa fa-gear"></i> 主题
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#tab-2">
                        通知
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-3">
                        项目进度
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="sidebar-title">
                        <h3> <i class="fa fa-comments-o"></i> 主题设置</h3>
                        <small><i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
                    </div>
                    <div class="skin-setttings">
                        <div class="title">主题设置</div>
                        <div class="setings-item">
                            <span>收起左侧菜单</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                                    <label class="onoffswitch-label" for="collapsemenu">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>固定顶部</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                                    <label class="onoffswitch-label" for="fixednavbar">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                固定宽度
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                                    <label class="onoffswitch-label" for="boxedlayout">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="title">皮肤选择</div>
                        <div class="setings-item default-skin nb">
                            <span class="skin-name ">
                                <a href="#" class="s-skin-0">
                                    默认皮肤
                                </a>
                            </span>
                        </div>
                        <div class="setings-item blue-skin nb">
                            <span class="skin-name ">
                                <a href="#" class="s-skin-1">
                                    蓝色主题
                                </a>
                            </span>
                        </div>
                        <div class="setings-item yellow-skin nb">
                            <span class="skin-name ">
                                <a href="#" class="s-skin-3">
                                    黄色/紫色主题
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    2
                </div>
                <div id="tab-3" class="tab-pane">
                    3
                </div>
            </div>
        </div>
    </div>
    <!--右侧边栏结束-->
</div>
@section css{
}
@section js{
    <script src="~/Scripts/SysFrameWork/FrameWork.js"></script>
    <!-- H+ -->
    <script src="/Content/HPlus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Content/HPlus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- H+ 自定义js -->
    <script src="/Content/HPlus/js/hplus.js"></script>
    <script type="text/javascript" src="/Content/HPlus/js/contabs.js"></script>
    <script type="text/javascript">
        $(function () {
            var v = $.Tools.getCookie("skin");
            $('.s-' + v).click();
            $("body").addClass("fixed-sidebar full-height-layout gray-bg").css("overflow", "hidden");
        });
    </script>
}
