@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DBContext db = new DBContext();
    T_Roles roles = new T_Roles();
    var list = db.GetList(db.Find(roles, ""));
    var json = db.jss.Serialize(list);
}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content" id="form">
                <form class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>用户名：</label>
                            <input type="text" class="form-control input-sm" name="cUsers_Name" data-bind="value:cUsers_Name" placeholder="请输入用户名" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>登录名：</label>
                            <input type="text" class="form-control input-sm" name="cUsers_LoginName" data-bind="value:cUsers_LoginName" placeholder="请输入登录名" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>登录密码：</label>
                            <input type="text" class="form-control input-sm" name="cUsers_LoginPwd" data-bind="value:cUsers_LoginPwd" placeholder="请输入登录密码" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">邮箱地址：</label>
                            <input type="text" class="form-control input-sm" name="cUsers_Email" data-bind="value:cUsers_Email" placeholder="请输入邮件" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">角色：</label>
                            @WebHtml.FindBackControl(new
                       {
                           Text = "cRoles_Name",
                           ID = "uRoles_ID",
                           Placeholder = "请选择角色",
                           FindClick = @"$.FindBack.OpenPage({
                                    title: '请选择角色',
                                    content: '" + Url.Action("Index", "Role", new { fun = "findback" }) + @"',
                                    callBack:function(id){ Func.FindBack.CallBack(id,'Role') }
                                });",
                           RemoveClick = "Func.FindBack.CallBack(null,'Role');"
                       })
                        </div>
                    </div>
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">角色：</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="uRoles_ID" autocomplete="off">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="" style="padding: 4px 12px;">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" style="padding-top: 0px; max-height: 375px; max-width: 800px; overflow: auto; width: auto; transition: 0.3s;"></ul>
                                    </div>
                                     /btn-group
                                </div>

                            </div>
                        </div>*@
                </form>

            </div>
        </div>
    </div>
</div>
<!--按钮-->
<div style="height:100px; width:100%;"></div>
<div class="my-ButtonBar text-right">
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success btn-sm" data-bind="visible:!Func.IsAdd()" onclick="$Form.ResetUrl(null)">新增</button>
        <button class="btn btn-primary btn-sm" onclick="$Form.Save({ url:'@Url.Action("Save")' })">提交</button>
        <button class="btn btn-danger btn-sm" onclick="Lay.close($.GetFrameIndex())">关闭</button>
    </div>
</div>
@section css{

}
@section js{
    <script src="~/Scripts/SysFrameWork/FrameWork_Form.js"></script>
    <script type="text/javascript">
        var KeyId = FW.GetQueryString("ID");
        model = new vModel();
        $(function () {
            ko.applyBindings(model);//注册vModel
            Func.Load(KeyId);
            //Func.Select_Roles();
        });

        var Func = {
            IsAdd: function () {
                if (KeyId == null || KeyId == "" || KeyId == undefined || KeyId == "@Guid.Empty")
                    return true;
                return false;
            },
            Load: function (ID) {
                $Form.Load({
                    id: ID,
                    url: "@Url.Action("Find")",
                    callBack: function (r) {
                    }
                });
            },
            FindBack: {
                CallBack: function (row, tag) {
                    console.log(row);
                    if (tag == "Role") {
                        model.uRoles_ID((row ? row._ukid : ""));
                        model.cRoles_Name((row ? row.cRoles_Name : ""));
                    }

                }
            },
            @*Select_Roles: function () {
                var data = JSON.parse('@Html.Raw(json)');
                var arr = new Array();
                for (item in data) {
                    arr.push({

                    });
                }
                var data = { value: data };
                console.log(data);
                FW.Select({
                    domid: "uRoles_ID",
                    indexId: "uRoles_ID",
                    keyField: "cRoles_Name",
                    data: data,
                    findFields: "cRoles_Name",
                    callBack: function (json) {
                        console.log("json:" + json);
                    }
                });
            }*@
        };

        function vModel() {
            this.uUsers_ID = ko.observable("");
            this.cUsers_Name = ko.observable("");
            this.cUsers_LoginName = ko.observable("");
            this.cUsers_LoginPwd = ko.observable("");
            this.uRoles_ID = ko.observable("");
            this.cUsers_Email = ko.observable("");
            this.cRoles_Name = ko.observable("");
        }
    </script>
}
