@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content" id="form">
                <form class="row">
                    <!--选项卡开始-->
                    <div class="col-sm-12">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab-1" aria-expanded="true">基本信息</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab-2" aria-expanded="false">第二个选项卡</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>用户名：</label>
                                                    <input type="text" class="form-control input-sm" name="cUsers_Name" data-bind="value:cUsers_Name" placeholder="请输入用户名" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>登录名：</label>
                                                    <input type="text" class="form-control input-sm" name="cUsers_LoginName" data-bind="value:cUsers_LoginName" placeholder="请输入登录名" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>登录密码：</label>
                                                    <input type="text" class="form-control input-sm" name="cUsers_LoginPwd" data-bind="value:cUsers_LoginPwd" placeholder="请输入登录密码" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">邮箱地址：</label>
                                                    <input type="text" class="form-control input-sm" name="cUsers_Email" data-bind="value:cUsers_Email" placeholder="请输入邮件" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">角色：</label>
                                                    @WebHtml.FindBackControl("cRoles_Name", "uRoles_ID", "$.FindBack.OpenPage({title: '请选择角色',content: '" + Url.Action("Index", "Role", new { fun = "findback" }) + "',width:'1000px',callBack:function(id){ Func.FindBack.Role.CallBack(id) } });", "Func.FindBack.Role.CallBack();")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--选项卡结束-->
                </form>

            </div>
        </div>
    </div>
</div>
<!--按钮-->
<div style="height:50px; width:100%;"></div>
<div class="my-ButtonBar text-right">
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success btn-sm" data-bind="visible:!Func.IsAdd()" onclick="$Form.ResetUrl(null)">新增</button>
        <button class="btn btn-primary btn-sm" onclick="$Form.Save({ url:'@Url.Action("Save")' })">提交</button>
        <button class="btn btn-danger btn-sm" onclick="Lay.close($.GetFrameIndex())">关闭</button>
    </div>
</div>
@section css{

}
@section js{
    <script src="~/Scripts/SysFrameWork/FrameWork.js"></script>
    <script src="~/Scripts/SysFrameWork/FrameWork_Form.js"></script>
    <script type="text/javascript">
        var KeyId = $.Tools.GetQueryString("ID");
        $(function () {
            ko.applyBindings(vModel);//注册vModel
            Func.Load(KeyId);
        });

        var Func = {
            IsAdd: function () {
                if (KeyId == null || KeyId == "" || KeyId == undefined || KeyId == "@Guid.Empty")
                    return true;
                return false;
            },
            Load: function (ID) {
                $Form.Load({
                    id: ID,
                    url: "@Url.Action("Find")"
                });
            },
            FindBack: {
                Role: {
                    CallBack: function (id) {
                        $.post('@Url.Action("Find", "Role")', { id: id }, function (r) {
                            vModel.uRoles_ID((id == "" || id == undefined) ? '@Guid.Empty' : id);
                            vModel.cRoles_Name(r.cRoles_Name == "" ? "请选择角色" : r.cRoles_Name);
                        });
                    }
                }
            }
        };

        var vModel = {
            uUsers_ID: ko.observable(""),
            cUsers_Name: ko.observable(""),
            cUsers_LoginName: ko.observable(""),
            cUsers_LoginPwd: ko.observable(""),
            uRoles_ID: ko.observable(""),
            cUsers_Email: ko.observable(""),
            cRoles_Name: ko.observable("")
        };
    </script>
}
